/*-----NavBar----*/
.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}
<<<<<<< HEAD
=======

>>>>>>> 22dda0dd5dabeab492515181dccb665bd9c08b70
/*-----NavBar----*/

.main-display .icons {
    width: 30vw;
    margin-left: 20%;
}

.main-display .icons svg {
    margin: 20px;
    color: white;
}